# .NET
bin/
obj/

# SQLite database
*.db
*.db-shm
*.db-wal

# Rider / VS / VSCode
.vs/
.vscode/

# OS
.DS_Store
Thumbs.db
**/bin/
**/obj/
*.db
*.db-shm
*.db-wal
**/bin/
**/obj/
*.db
*.db-shm
*.db-wal
.vs/
