# .NET
bin/
obj/

# Rider / VS
.vs/
*.user
*.suo

# SQLite
*.db
*.db-shm
*.db-wal

# Logs
*.log

.DS_Store
*.cache

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android Studio
.idea/


